@import "./../base/vars";

.bank-partners{
    padding: 120px 0 115px 0;

    .bank-partners-wrap{
        .bank-partners-header{
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            gap: 24px;
            margin-bottom: 50px;
            padding: 0 60px;
    
            h2{
                font-weight: 500;
                font-size: 40px;
                line-height: 120%;
                color: #303030;
                max-width: 300px;
    
                span{
                    font-weight: 700;
                    color: #18181A;
                }
            }
            .head-br{
                flex-grow: 1;
                background-color: #BEC0CA;
                height: 1px;
                margin-top: 25px;
            }
            p{
                font-weight: 700;
                font-size: 14px;
                line-height: 120%;
                text-align: right;
                letter-spacing: 4px;
                color: #9698A5;
                margin-top: 16px;
            }
        }

    }
}

@media only screen and (max-width: 768px){}