@import "./../base/vars";

.bank-partners{
    padding: 120px 0 75px 0;

    .bank-partners-wrap{
        .bank-partners-header{
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            gap: 24px;
            margin-bottom: 50px;
            padding: 0 60px;
    
            h2{
                font-weight: 500;
                font-size: 40px;
                line-height: 120%;
                color: #303030;
                max-width: 300px;
    
                span{
                    font-weight: 700;
                    color: #18181A;
                }
            }
            .head-br{
                flex-grow: 1;
                background-color: #BEC0CA;
                height: 1px;
                margin-top: 25px;
            }
            p{
                font-weight: 700;
                font-size: 14px;
                line-height: 120%;
                text-align: right;
                letter-spacing: 4px;
                color: #9698A5;
                margin-top: 16px;
            }
        }
        .bank-partners-list{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: stretch;
            justify-content: flex-start;

            .bank-partners-list-item{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                margin: 0 0 40px 0;
                width: 20%;

                img{
                    max-width: 100%;
                }
            }
        }
    }
}
@media only screen and (max-width: 960px){
    .bank-partners{
        .bank-partners-wrap{
            .bank-partners-header{
                h2{
                    span{}
                }
                .head-br{}
                p{}
            }
            .bank-partners-list{
                .bank-partners-list-item{
                    width: 25%;
    
                    img{}
                }
            }
        }
    }
}
@media only screen and (max-width: 768px){
    .bank-partners{
        .bank-partners-wrap{
            .bank-partners-header{
                padding: 0;

                h2{
                    font-size: 30px;
                    max-width: none;

                    span{}
                }
                .head-br{}
                p{}
            }
            .bank-partners-list{
                .bank-partners-list-item{
                    width: 50%;
    
                    img{}
                }
            }
        }
    }
}