@import "./../base/vars";

.page-blog{
    background: #E7EDF2;
}

.blog{
    background: #E7EDF2;
    padding: 80px 0;

    h2{
        color: $black;
        font-size: 44px;
        font-weight: 600;
        text-align: left;
        width: 100%;
    }
}

@media only screen and (max-width: 1024px){
    .blog{
        padding: 50px 0;
    }
}