.gallery-works{
    position: relative;
    margin: 0 0 100px 0;

    .gallery-works-header{
        margin: 0 0 47px 0;

        h1{
            font-size: 44px;
            font-weight: 600;
        }
    }
    .gallery-works-content{
        .gallery-works-slider{
            .owl-stage-outer{
                .owl-stage{
                }
            }
            .item{
                div{
                    img{
                        &:nth-child(1){
                            margin: 0 0 12px 0;
                        }
                    }
                }
            }
            .owl-nav{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: -105px;
                right: 0;

                .owl-prev,
                .owl-next{
                    background-color: $green;
                    border-radius: 24px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    height: 70px;
                    width: 70px;

                    span{
                        background-size: cover;
                        filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7480%) hue-rotate(200deg) brightness(108%) contrast(106%);
                        font-size: 0;
                        height: 28px;
                        width: 28px;
                    }
                }

                .owl-prev{
                    span{
                        background: url("./../../img/icons/left-arrow.svg") no-repeat;
                    }
                }
                .owl-next{
                    margin: 0 0px 0 22px;
                    span{
                        background: url("./../../img/icons/right-arrow.svg") no-repeat;
                    }
                }
            }
            .owl-dots{
                margin: 23px auto 0 auto;
                text-align: center;

                .owl-dot{
                    background-color: #B7B7B7;
                    border-radius: 50%;
                    margin: 0 4px;
                    height: 11px;
                    width: 11px;

                    &.active{
                        background-color: #4781FF;
                    }
                }
            }
        }
    }
}