@import "./../base/vars";

/* page faq */
.page-faq{
    .get-feedback{
        .get-feedback-wrapper{
            &::before{
                background: url("./../../img/page-faq/consult2.webp") no-repeat right bottom;
                background-size: contain;
            }
        }
    }
}

/* page facilities */
.page-facilities{
    .get-feedback{
        margin: 0 0 -90px 0;

        .get-feedback-wrapper{
            &::before{
                background: url("./../../img/page-faq/consult2.webp") no-repeat right bottom;
                background-size: contain;
                left: 35%;
                max-width: 360px;
            }
            .get-feedback-form{
                max-width: 600px;

                .get-feedback-form-title{}
                form{
                    max-width: 320px;

                    input{
                        background-color: $white;
                    }
                    button{

                    }
                    .form-sub{
                        display: block;
                    }
                }
                .get-feedback-form-social{
                    h5{
                        max-width: 320px;
                        text-align: center;
                    }
                    .get-feedback-form-social-links{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        max-width: 320px;

                        a{
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: center;
                            border-radius: 50%;
                            margin: 0;
                            height: 42px;
                            width: 42px;

                            &.vk{
                                background: #29A8EB;

                                span{
                                    background: url("./../../img/facilities/vk.svg") no-repeat;
                                    height: 14px;
                                    width: 24px;
                                }
                            }
                            &.whatsapp{
                                background: #0CBB65;
                                margin: 0 10px;

                                span{
                                    background: url("./../../img/facilities/whatsapp.svg") no-repeat;
                                    top: -1px;
                                    left: 1px;
                                    height: 22px;
                                    width: 21px;
                                }
                            }
                            &.telegram{
                                background: #29A8EB;

                                span{
                                    background: url("./../../img/facilities/telegram.svg") no-repeat;
                                    top: 1px;
                                    left: -1px;
                                    height: 19px;
                                    width: 17px;
                                }
                            }

                            span{
                                display: block;
                                position: relative;
                            }
                        }
                    }
                }
            }
            .get-feedback-consult{
                bottom: -45px;
                left: 41%;
            }
            .get-feedback-consult-list{
                width: 100%;
                max-width: 320px;

                div{
                    margin: 0 0 20px 0;

                    &:last-child{
                        margin: 0;
                    }

                    span{
                        background: url("./../../img/icons/check-circle.svg") no-repeat;
                        display: block;
                        border-radius: 50%;
                        height: 39px;
                        width: 39px;
                        margin: 0 0 15px 0;
                    }
                    p{
                        color: $white;
                        font-size: 18px;
                        font-weight: 600;
                        text-align: left;
                    }
                }
            }
        }
    }
}

/* page our contacts */
.page-our-contacts{
    .get-feedback{
        margin: 0;

        .get-feedback-wrapper{
            .get-feedback-form{
                .get-feedback-form-title{
                    ul{
                        list-style-type: disc;
                        list-style: disc;
                        padding: 0 0 0 19px;
                        text-align: left;

                        li{
                            color: #D1D1D1;
                            font-size: 20px;
                            font-weight: 400;
                            list-style: disc;
                            margin: 0 0 5px 0;

                            &:last-child{
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

.get-feedback{
    background: url("./../../img/get-feedback/bg.webp") no-repeat center;
    background-size: cover;
    padding: 90px 0;
    margin: 0 0 90px 0;
    color: $white;
    z-index: 1;

    .get-feedback-wrapper{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        position: relative;

        &::before{
            background: url("./../../img/get-feedback/consult.webp") no-repeat right bottom;
            background-size: contain;
            content: "";
            position: absolute;
            right: 0;
            bottom: -90px;
            height: 100%;
            max-height: 714px;
            width: 100%;
            max-width: 532px;
        }

        .get-feedback-form{
            width: 100%;
            max-width: 750px;
            position: relative;
            left: 0;

            .get-feedback-form-title{
                margin: 0 0 40px 0;
    
                h2{
                    font-size: 44px;
                    font-weight: 500;
                    margin: 0 0 22px 0;
                }
                p{
                    font-size: 20px;
                    font-weight: 400;
                }
            }
    
            form{
                margin: 0 0 24px 0;
                width: 100%;
                max-width: 560px;
                
                .form-sub{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-start;
                    width: 100%;
                    max-width: none;

                    input{
                        cursor: pointer;
                        margin: 0 7px 0 0;
                        min-height: 20px;
                        min-width: 20px;
                        max-height: 20px;
                        max-width: 20px;
                    }
                    p{
                        color: #818181;
                        font-size: 13px;
                        margin: 0;
                        text-align: left;

                        a{
                            display: inline-block;
                            color: #BCBCBC;
                            font-size: 13px;
                            margin: 0 0 0 3px;
                            text-decoration: underline;
                            transition: ease-in-out 0.2s;

                            &:hover{
                                text-decoration: none;
                            }
                        }
                    }
                }
                input{
                    background-color: transparent;
                    border: 1px solid #C8C8C8;
                    color: $white;
                }
            }
    
            .get-feedback-form-social{
                h5{
                    font-size: 20px;
                    font-weight: 400;
                    margin: 0 0 11px 0;
                }
            }
    
            .get-feedback-form-social-links{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
    
                a{
                    height: 37px;
                    width: 37px;
                    opacity: 1;
                    transition: ease-in-out 0.2s;

                    &:hover{
                        opacity: 0.9;
                    }
    
                    &:first-child{
                        margin: 0 10px 0 0;
                    }
                }            
            }
        }
        .get-feedback-consult{
            background: rgba(24, 24, 26, 0.41);
            backdrop-filter: blur(19.5px);
            border-radius: 37px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin-top: 33%;
            padding: 0 22px;
            position: relative;
            height: 77px;
            min-width: 174px;
            max-width: 218px;
            position: absolute;
            bottom: 0;
            right: 0;

            .get-feedback-consult-left{
                color: $white;
                margin: 0 15px 0 0;
                text-align: right;

                h6{
                    font-size: 15px;
                    font-weight: 600;
                    margin: 0 0 5px 0;
                }
                p{
                    font-size: 12px;
                    font-weight: 300;
                }
            }
            .get-feedback-consult-right{
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: flex-start;

                span{
                    background-color: $green;
                    border-radius: 50%;
                    height: 8px;
                    width: 8px;
                }
            }
        }
    }
}

.checkout-link {
    display: inline-flex; /* Внутренние элементы выравниваются в одну строку */
    align-items: center; /* Вертикальное выравнивание */
    background-color: #28a745; /* Цвет фона */
    color: white; /* Цвет текста */
    text-decoration: none; /* Убираем подчеркивание */
    border-radius: 5px; /* Закругляем углы */
    padding: 10px 20px; /* Отступы */
    transition: background-color 0.3s; /* Плавный переход цвета фона */
}

.checkout-link img {
    margin-right: 10px; /* Отступ между иконкой и текстом */
    width: 20px; /* Ширина иконки */
    height: auto; /* Автоматическая высота */
}

.checkout-link:hover {
    background-color: #218838; /* Цвет фона при наведении */
}

@media only screen and (max-width: 1024px){
    .page-facilities{
        .get-feedback{
            .get-feedback-wrapper{
                &::before{
                    left: 47%;
                }
                .get-feedback-form{
                    .get-feedback-form-title{}
                    form{
                        input{}
                        button{}
                        .form-sub{}
                    }
                    .get-feedback-form-social{
                        h5{}
                        .get-feedback-form-social-links{
                            a{
                                &.vk{
                                    span{}
                                }
                                &.whatsapp{
                                    span{}
                                }
                                &.telegram{
                                    span{}
                                }
                                span{}
                            }
                        }
                    }
                }
                .get-feedback-consult{
                    left: 54%;
                }
                .get-feedback-consult-list{
                    display: none;
                    div{
                        &:last-child{}
                        span{}
                        p{}
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 980px){
    .get-feedback{
        .get-feedback-wrapper{
            &::before{
                max-width: 400px;
            }
            .get-feedback-form{
                max-width: 500px;

                .get-feedback-form-title{
                    h2{}
                    p{}
                }
                form{
                    .form-sub{
                        p{
                            a{
                                &:hover{}
                            }
                        }
                    }
                    input{}
                }
                .get-feedback-form-social{
                    h5{}
                }
                .get-feedback-form-social-links{
                    a{
                        &:first-child{}
                    }            
                }
            }
            .get-feedback-consult{
                .get-feedback-consult-left{
                    h6{}
                    p{}
                }
                .get-feedback-consult-right{
                    span{}
                }
            }
        }
    }
}
@media only screen and (max-width: 768px){
    .page-facilities{
        .get-feedback{
            margin: 0;

            .get-feedback-wrapper{
                &::before{}
                .get-feedback-form{
                    .get-feedback-form-title{}
                    form{
                        max-width: none;

                        input{}
                        button{}
                        .form-sub{}
                    }
                    .get-feedback-form-social{
                        h5{
                            max-width: none;
                        }
                        .get-feedback-form-social-links{
                            max-width: none;

                            a{
                                &.vk{
                                    span{}
                                }
                                &.whatsapp{
                                    span{}
                                }
                                &.telegram{
                                    span{}
                                }
                                span{}
                            }
                        }
                    }
                }
                .get-feedback-consult{}
                .get-feedback-consult-list{
                    div{
                        &:last-child{}
                        span{}
                        p{}
                    }
                }
            }
        }
    }
    .get-feedback{
        .get-feedback-wrapper{
            &::before{
                display: none;
                content: none;
            }
            .get-feedback-form{
                .get-feedback-form-title{
                    h2{}
                    p{}
                }
                form{
                    .form-sub{
                        p{
                            a{
                                &:hover{}
                            }
                        }
                    }
                    input{}
                }
                .get-feedback-form-social{
                    h5{}
                }
                .get-feedback-form-social-links{
                    a{
                        &:first-child{}
                    }            
                }
            }
            .get-feedback-consult{
                display: none;

                .get-feedback-consult-left{
                    h6{}
                    p{}
                }
                .get-feedback-consult-right{
                    span{}
                }
            }
        }
    }
}