@import "./../base/vars";

.lizing{
    margin: 0;

    // PAGE
    .services{
        padding: 40px 0 80px;

        .service-item__pic{
            filter: none;
        }
        .service-item__text{
            p{
                color: $white;
                font-size: 16px;
                font-weight: 600;
                margin: 0 0 10px 0;
                padding: 0 0 0 19px;
                position: relative;
                text-align: left;

                &:last-child{
                    margin: 0;
                }

                &:before{
                    background-color: $green;
                    border-radius: 50%;
                    position: absolute;
                    content: "";
                    top: 2px;
                    left: 0;
                    height: 8px;
                    width: 8px;
                }
            }
        }
    }

    // PAGE
    .attach-sec{
        background-color: #EBE5E0;

        .attach-sec__wrap{
            .attach-sec__center{
                align-items: center;
                justify-content: flex-start;

                &::before{
                    background: url("./../../img/lizing/form-lizing-bg.jpg") center center no-repeat;
                    width: 899px;
                    height: 442px;
                    top: 40%;
                    left: -371px;
                }

                .attach-sec__main{
                    flex-grow: 0;
                    width: 40%;
                }
            }
        }
    }
    @media only screen and (max-width: 768px){
        .attach-sec{
            padding: 65px 0 330px;

            .attach-sec__wrap{
                .attach-sec__center{
                    text-align: center;

                    &::before{
                        transform: none;
                        left: -18px;
                        top: 128%;
                    }

                    .attach-sec__main{
                        max-width: none;
                        text-align: center;
                        margin: 0 0 20px 0;

                        .sec-txt{
                            max-width: none;
                        }

                        .attach-sec__sub{
                            max-width: none;
                        }

                        .attach-sec__sub{
                            margin-top: 20px;
                        }
                    }
                    .form{
                        width: auto;

                        button.btn{
                            margin: 20px auto 0 auto;
                        }
                    }
                }
            }
        }
    }
    @media only screen and (max-width: 767px){
        .attach-sec{
            padding: 65px 0 330px;

            .attach-sec__wrap{
                .attach-sec__center{
                    &::before{
                        left: -150px;
                        top: 82%;
                    }
                    .attach-sec__main{
                        width: 100%;
                    }
                }
            }
        }
    }
    @media only screen and (max-width: 480px){
        .attach-sec{
            padding: 65px 0 330px;

            .attach-sec__wrap{
                .attach-sec__center{
                    &::before{
                        left: -25px;
                        top: 80%;
                    }
                }
            }
        }
    }

    // PAGE
    .team{
        background-color: #ebe5e0;

        .team__wrap{
            .sec-header{
                .sec-br{
                    width: 100%;
                }
            }
        }
    }

    // PAGE
    .seo{
        margin: 105px 0 0 0;
    }

    // contacts
    @media only screen and (max-width: 480px){
        .contacts{
            .contacts-office{
                height: 485px;
                width: 100%;
    
                img{
                    position: relative;
                    top: calc(-25%);
                }
            }
        }
    }
}
@media only screen and (max-width: 768px){
    .lizing{
        margin: 0;
    
        .services{
            padding: 20px 0 40px;
        }
    }
}