@import "./../base/vars";

.lizing{
    margin: 0;

    // PAGE
    .services{
        padding: 40px 0 80px;
    }

    // PAGE
    .attach-sec{
        background-color: #EBE5E0;

        .attach-sec__wrap{
            .attach-sec__center{
                &::before{
                    background: url("./../../img/lizing/form-lizing-bg.jpg") center center no-repeat;
                    width: 899px;
                    height: 442px;
                    left: -660px;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px){
    .lizing{
        margin: 0;
    
        .services{
            padding: 20px 0 40px;
        }
    }
}