@import url("../base/_vars.scss");
h1{
    font-size: 44px;
    font-weight: 500;
}
.intertaiment{
    background: url("../../img/services-type/house-bg.webp") center center no-repeat;
    background-size: cover;
    color: $white;
    padding: 213px 0 100px 0;

    .intertaiment-header{
        margin: 0 0 45px 0;
        width: 100%;

        h2{
            font-size: 44px;
            font-weight: 400;
            max-width: 675px;
            width: 100%;

            span{
                font-weight: 600;
            }
        }
    }
    .intertaiment-description{
        margin: 0 0 45px 0;
        width: 100%;

        p{
            font-size: 20px;
            max-width: 675px;
            width: 100%;
        }
    }
    .intertaiment-feedback-btn{
        margin: 0 0 45px 0;
        width: 100%;

        button{
            width: 100%;
            max-width: 340px;
        }
    }
    .intertaiment-frametime{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        max-width: 775px;
        width: 100%;

        div{
            &:nth-child(1){
                p{
                    &::after{
                        left: 50%;
                    }
                }
            }
            &:nth-child(2){
                p{
                    &::after{
                        right: -100%;
                        width: 300%;
                    }
                }
            }
            &:nth-child(3){
                p{
                    &::after{
                        right: 50%;
                    }
                }
            }
            p{
                padding: 0 0 24px 0;
                position: relative;

                &::before{
                    background-color: $green;
                    border-radius: 50%;
                    content: "";
                    position: absolute;
                    left: calc(50% - 6px);
                    bottom: 0;
                    height: 12px;
                    width: 12px;
                }
                &::after{
                    background-color: $green;
                    content: "";
                    position: absolute;
                    bottom: 6px;
                    height: 1px;
                    width: 100%;
                }
            }
        }
    }
}

@media only screen and (max-width: 1024px){
    .intertaiment{
        padding: 110px 0 80px 0;
    }
}
@media only screen and (max-width: 768px){
    .intertaiment{
        padding: 100px 0 20px 0;
        text-align: center;

        .intertaiment-header{
            h2{
                span{}
            }
        }
        .intertaiment-description{
            p{}
        }
        .intertaiment-feedback-btn{
            button{
                margin: 0 auto;
            }
        }
        .intertaiment-frametime{
            flex-direction: column;
            align-items: center;

            div{
                &:nth-child(1){
                    p{
                        &::after{}
                    }
                }
                &:nth-child(2){
                    p{
                        &::after{}
                    }
                }
                &:nth-child(3){
                    p{
                        &::after{}
                        &::before{
                            content: none;
                            display: none;
                        }
                    }
                }
                p{
                    &::before{
                        border-radius: 0;
                        left: calc(50% - 0.5px);
                        bottom: 0;
                        height: 60%;
                        width: 1px;
                    }
                    &::after{
                        content: none;
                        display: none;
                    }
                }
            }
        }
    }
}